.map-button {
    background: #273b49;
    cursor: pointer;
    color: white;
    border-radius: 25px;
    border: 0;
}

.map-button:hover {
    background: #273b49;
    border-color:#273b49;
    cursor: pointer;
    color: white;
    border-radius: 25px!important;
}

.nft-ul {
    list-style-type: none!important;
    padding: 0px!important;
}

.nft-ul .header {
    background-color: #111;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nft-ul .token {
    font-size: 15px;
    font-weight: 600;
}

.nft-ul .footer {
    font-size: 10px;
}

.nft-ul .event {
    font-size: 18px;
    font-weight: 600;
}

.nft-ul .included {
    font-size: 16px;
    font-weight: 800;
}

.nft-ul li {
    padding: 5px 25px;
    margin: 0 -13px;
    min-height: 30px;
    border-bottom: 1px solid #eee;
}

.conditions {
    font-size: 12px;
    line-height: 0.5;
    padding-top: 0px;
}

.click-here:hover {
    color: #1067a1 !important;;
}

.click-here {
  color: #0095b2;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    .conditions {
        line-height: 1;
    }

    .modal-content {
        width: 90%;
    }

    .social-media {
        display: none!important;
    }
}

